<?xml version="1.0" ?>
<robot name="table">


    <!-- 色を先に定義 (共通化したいから) ↓ -->
    <material name="wood">
        <color rgba="0.871 0.722 0.529 1"/>
    </material>
    <!-- 色を先に定義 (共通化したいから) ↑ -->


    <link name="base">
        <!-- 見た目，干渉判定，慣性はなし -->
    </link>


    <!-- テーブルの作成 ↓ -->
    <!-- テーブルの天板を動かさないようのジョイント -->
    <joint name="joint_table_top" type="fixed">

        <parent link="base"/>
        <child link="table_top"/>
        <origin xyz="0 0 1" rpy="0 0 0"/>

    </joint>


    <!-- テーブルの天板 -->
    <link name="table_top">

        <!-- 見た目 -->
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="0.5 1 0.01"/>
            </geometry>
            <material name="wood"/>
        </visual>

        <!-- 干渉判定 -->
        <collision>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="0.5 1 0.01"/>
            </geometry>
        </collision>

        <!-- 慣性行列 -->
        <inertial>
            <origin xyz="0 0 0"/>
            <mass value="1.0"/>
            <inertia ixx="0.083" iyy="0.021" izz="0.104" ixy="0.0" ixz="0.0" iyz="0.0"/>
        </inertial>

    </link>


    <!-- テーブルの天板とテーブルの足を固定化する関節 -->
    <joint name="joint_table_leg1" type="fixed">

        <parent link="table_top"/>
        <child link="table_leg1"/>
        <origin xyz="0.2 0.45 0" rpy="0 0 0"/>

    </joint>


    <!-- テーブルの足1 (+x, +y方向) -->
    <link name="table_leg1">

        <!-- 見た目 -->
        <visual>
            <origin xyz="0 0 -0.5"/>
            <geometry>
                <box size="0.1 0.1 1"/>
            </geometry>
            <material name="wood"/>
        </visual>

        <!-- 干渉判定 -->
        <collision>
            <origin xyz="0 0 -0.5"/>
            <geometry>
                <box size="0.1 0.1 1"/>
            </geometry>
        </collision>

        <!-- 慣性行列 -->
        <inertial>
            <origin xyz="0 0 -0.5"/>
            <mass value="2.0"/>
            <inertia ixx="0.1683" iyy="0.1683" izz="0.0033" ixy="0.0" ixz="0.0" iyz="0.0"/>
        </inertial>

    </link>


    <!-- テーブルの天板とテーブルの足を固定化する関節 -->
    <joint name="joint_table_leg2" type="fixed">

        <parent link="table_top"/>
        <child link="table_leg2"/>
        <origin xyz="-0.2 0.45 0" rpy="0 0 0"/>

    </joint>


    <!-- テーブルの足2 (-x, +y方向) -->
    <link name="table_leg2">

        <!-- 見た目 -->
        <visual>
            <origin xyz="0 0 -0.5"/>
            <geometry>
                <box size="0.1 0.1 1"/>
            </geometry>
            <material name="wood"/>
        </visual>

        <!-- 干渉判定 -->
        <collision>
            <origin xyz="0 0 -0.5"/>
            <geometry>
                <box size="0.1 0.1 1"/>
            </geometry>
        </collision>

        <!-- 慣性行列 -->
        <inertial>
            <origin xyz="0 0 -0.5"/>
            <mass value="2.0"/>
            <inertia ixx="0.1683" iyy="0.1683" izz="0.0033" ixy="0.0" ixz="0.0" iyz="0.0"/>
        </inertial>

    </link>


    <!-- テーブルの天板とテーブルの足を固定化する関節 -->
    <joint name="joint_table_leg3" type="fixed">

        <parent link="table_top"/>
        <child link="table_leg3"/>
        <origin xyz="-0.2 -0.45 0" rpy="0 0 0"/>

    </joint>


    <!-- テーブルの足3 (-x, -y方向) -->
    <link name="table_leg3">

        <!-- 見た目 -->
        <visual>
            <origin xyz="0 0 -0.5"/>
            <geometry>
                <box size="0.1 0.1 1"/>
            </geometry>
            <material name="wood"/>
        </visual>

        <!-- 干渉判定 -->
        <collision>
            <origin xyz="0 0 -0.5"/>
            <geometry>
                <box size="0.1 0.1 1"/>
            </geometry>
        </collision>

        <!-- 慣性行列 -->
        <inertial>
            <origin xyz="0 0 -0.5"/>
            <mass value="2.0"/>
            <inertia ixx="0.1683" iyy="0.1683" izz="0.0033" ixy="0.0" ixz="0.0" iyz="0.0"/>
        </inertial>

    </link>


    <!-- テーブルの天板とテーブルの足を固定化する関節 -->
    <joint name="joint_table_leg4" type="fixed">

        <parent link="table_top"/>
        <child link="table_leg4"/>
        <origin xyz="0.2 -0.45 0" rpy="0 0 0"/>

    </joint>


    <!-- テーブルの足4 (+x, -y方向) -->
    <link name="table_leg4">

        <!-- 見た目 -->
        <visual>
            <origin xyz="0 0 -0.5"/>
            <geometry>
                <box size="0.1 0.1 1"/>
            </geometry>
            <material name="wood"/>
        </visual>

        <!-- 干渉判定 -->
        <collision>
            <origin xyz="0 0 -0.5"/>
            <geometry>
                <box size="0.1 0.1 1"/>
            </geometry>
        </collision>

        <!-- 慣性行列 -->
        <inertial>
            <origin xyz="0 0 -0.5"/>
            <mass value="2.0"/>
            <inertia ixx="0.1683" iyy="0.1683" izz="0.0033" ixy="0.0" ixz="0.0" iyz="0.0"/>
        </inertial>

    </link>
    <!-- テーブルの作成 ↑ -->


</robot>
