<?xml version="1.0"?>
<robot name="robot_3dof_hand">

    <material name="black"><color rgba="0 0 0 1"/></material>

    <link name="base_link"/>

    <joint name="joint1" type="revolute">
        <parent link="base_link"/>
        <child link="link1"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
        <limit lower="-3.14" upper="3.14" effort="100" velocity="5.0"/>
    </joint>

    <link name="link1">
        <visual><origin xyz="0.0 0.0 0.5"/><geometry><box size="0.2 0.2 1.0"/></geometry></visual>
        <collision><origin xyz="0.0 0.0 0.5"/><geometry><box size="0.2 0.2 1.0"/></geometry></collision>
        <inertial>
            <origin xyz="0.0 0.0 0.5"/>
            <mass value="1.0"/>
            <inertia ixx="0.08667" iyy="0.08667" izz="0.00667" ixy="0.0" ixz="0.0" iyz="0.0"/>
        </inertial>
    </link>

    <joint name="joint2" type="revolute">
        <parent link="link1"/>
        <child link="link2"/>
        <origin xyz="0 0 1.0" rpy="0 0 0"/>
        <axis xyz="0 1 0"/>
        <limit lower="-3.14" upper="3.14" effort="100" velocity="5.0"/>
    </joint>

    <link name="link2">
        <visual><origin xyz="0.0 0.0 0.5"/><geometry><box size="0.2 0.2 1.0"/></geometry></visual>
        <collision><origin xyz="0.0 0.0 0.5"/><geometry><box size="0.2 0.2 1.0"/></geometry></collision>
        <inertial>
            <origin xyz="0.0 0.0 0.5"/>
            <mass value="1.0"/>
            <inertia ixx="0.08667" iyy="0.08667" izz="0.00667" ixy="0.0" ixz="0.0" iyz="0.0"/>
        </inertial>
    </link>

    <joint name="joint3" type="revolute">
        <parent link="link2"/>
        <child link="link3"/>
        <origin xyz="0 0 1.0" rpy="0 0 0"/>
        <axis xyz="0 1 0"/>
        <limit lower="-3.14" upper="3.14" effort="100" velocity="5.0"/>
    </joint>

    <link name="link3">
        <visual><origin xyz="0.0 0.0 0.5"/><geometry><box size="0.2 0.2 1.0"/></geometry></visual>
        <collision><origin xyz="0.0 0.0 0.5"/><geometry><box size="0.2 0.2 1.0"/></geometry></collision>
        <inertial>
            <origin xyz="0.0 0.0 0.5"/>
            <mass value="1.0"/>
            <inertia ixx="0.08667" iyy="0.08667" izz="0.00667" ixy="0.0" ixz="0.0" iyz="0.0"/>
        </inertial>
    </link>

    <joint name="gripper_joint" type="fixed">
        <parent link="link3"/>
        <child link="gripper_base_link"/>
        <origin xyz="0 0 1.0" rpy="0 0 0"/>
    </joint>

    <link name="gripper_base_link">
        <visual><origin xyz="0 0 0.1" rpy="0 0 0"/><geometry><box size="0.1 0.1 0.2"/></geometry><material name="black"/></visual>
        <collision><origin xyz="0 0 0.1" rpy="0 0 0"/><geometry><box size="0.1 0.1 0.2"/></geometry></collision>
        <inertial>
            <mass value="0.05"/>
            <origin xyz="0 0 0.1" rpy="0 0 0"/>
            <inertia ixx="0.000208" iyy="0.000208" izz="0.000083" ixy="0.0" ixz="0.0" iyz="0.0"/>
        </inertial>
    </link>

    <joint name="finger_joint" type="fixed">
        <parent link="gripper_base_link"/>
        <child link="gripper_finger_link"/>
        <origin xyz="0 0 0.2" rpy="0 0 0"/>
    </joint>

    <link name="gripper_finger_link">
        <visual><origin xyz="0 0 0" rpy="0 0 0"/><geometry><box size="0.2 0.2 0.1"/></geometry><material name="black"/></visual>
        <collision><origin xyz="0 0 0" rpy="0 0 0"/><geometry><box size="0.2 0.2 0.1"/></geometry></collision>
        <inertial>
            <mass value="0.1"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia ixx="0.000417" iyy="0.000417" izz="0.000667" ixy="0.0" ixz="0.0" iyz="0.0"/>
        </inertial>
    </link>

    <joint name="right_finger_joint" type="prismatic">
        <parent link="gripper_finger_link"/>
        <child link="right_finger_link"/>
        <origin xyz="-0.095 0 0.05" rpy="0 0 0"/>
        <axis xyz="1 0 0"/>
        <limit lower="0.0" upper="0.090" effort="100.0" velocity="1.0"/>
    </joint>

    <link name="right_finger_link">
        <visual><origin xyz="0.0 0.0 0.15"/><geometry><box size="0.01 0.2 0.3"/></geometry><material name="black"/></visual>
        <collision><origin xyz="0.0 0.0 0.15"/><geometry><box size="0.01 0.2 0.3"/></geometry></collision>
        <inertial>
            <origin xyz="0.0 0.0 0.15"/>
            <mass value="0.015"/>
            <inertia ixx="0.000163" iyy="0.000113" izz="0.000051" ixy="0.0" ixz="0.0" iyz="0.0"/>
        </inertial>
    </link>

    <joint name="left_finger_joint" type="prismatic">
        <parent link="gripper_finger_link"/>
        <child link="left_finger_link"/>
        <origin xyz="0.095 0 0.05" rpy="0 0 0"/>
        <axis xyz="1 0 0"/>
        <limit lower="-0.090" upper="0.0" effort="100.0" velocity="1.0"/>
    </joint>

    <link name="left_finger_link">
        <visual><origin xyz="0.0 0.0 0.15"/><geometry><box size="0.01 0.2 0.3"/></geometry><material name="black"/></visual>
        <collision><origin xyz="0.0 0.0 0.15"/><geometry><box size="0.01 0.2 0.3"/></geometry></collision>
        <inertial>
            <origin xyz="0.0 0.0 0.15"/>
            <mass value="0.015"/>
            <inertia ixx="0.000163" iyy="0.000113" izz="0.000051" ixy="0.0" ixz="0.0" iyz="0.0"/>
        </inertial>
    </link>

    <joint name="ee_joint" type="fixed">
        <parent link="gripper_finger_link"/>
        <child link="ee_link"/>
        <origin xyz="0 0 0.3" rpy="0 0 0"/>
    </joint>

    <link name="ee_link"/>

</robot>
